In [1]:
import requests
from config import cckey
import pandas as pd
import sys, json
import json
import datetime
import numpy as np

symbols=['BTC','ETH','XRP','USDT','ADA','XMR','XLM','BNB','LTC','DOGE']
for symbol in symbols:

    df = dforig = pd.DataFrame()
    
    # Read data into dataframes
    df = pd.read_csv("perminute_"+symbol+"set3.csv")
    dforig = pd.read_csv("Cryptocurrency-Analysis\Data\Perminute\perminute_"+symbol+".csv")
    df = df.append(dforig).drop_duplicates()
    df.to_csv("Cryptocurrency-Analysis\Data\Perminute\perminute_"+symbol+".csv")

In [15]:
dforig

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1642773180,38574.75,38541.71,38574.75,0.00,0.00,38541.71,direct,NaN
1,1642773120,38596.53,38532.33,38537.25,23.95,923527.41,38574.75,direct,NaN
2,1642773060,38584.62,38535.04,38560.27,28.85,1112269.04,38537.25,direct,NaN
3,1642773000,38632.91,38559.93,38591.31,56.50,2179655.36,38560.27,direct,NaN
4,1642772940,38609.84,38564.18,38590.37,23.71,914699.15,38591.31,direct,NaN
...,...,...,...,...,...,...,...,...,...
10075,1642168680,42182.02,42158.58,42162.72,19.11,805930.50,42176.48,direct,NaN
10076,1642168620,42165.49,42145.44,42146.42,52.36,2206661.23,42162.72,direct,NaN
10077,1642168560,42161.91,42135.98,42140.95,26.01,1096204.57,42146.42,direct,NaN
10078,1642168500,42159.81,42127.86,42159.81,21.42,902509.64,42140.95,direct,NaN
10079,1642168440,42164.69,42142.89,42157.33,14.26,601153.32,42159.81,direct,NaN

In [16]:
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1642982760,36120.99,36062.44,36120.99,0.00,0.00,36062.44,direct,NaN
1,1642982700,36172.73,36116.98,36172.73,27.32,987301.92,36120.99,direct,NaN
2,1642982640,36183.02,36149.70,36170.28,12.23,442317.31,36172.73,direct,NaN
3,1642982580,36195.17,36152.88,36162.34,29.14,1053887.59,36170.28,direct,NaN
4,1642982520,36208.84,36160.24,36189.13,36.44,1318381.51,36162.34,direct,NaN
...,...,...,...,...,...,...,...,...,...
10075,1642168680,42182.02,42158.58,42162.72,19.11,805930.50,42176.48,direct,NaN
10076,1642168620,42165.49,42145.44,42146.42,52.36,2206661.23,42162.72,direct,NaN
10077,1642168560,42161.91,42135.98,42140.95,26.01,1096204.57,42146.42,direct,NaN
10078,1642168500,42159.81,42127.86,42159.81,21.42,902509.64,42140.95,direct,NaN
10079,1642168440,42164.69,42142.89,42157.33,14.26,601153.32,42159.81,direct,NaN